---
layout: post_default 
---

<article class="post">
    <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
        <section class="post-meta">
            <time class="post-date" datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%-d %B %Y" }}</time> {% if page.tags %}{% if page.tags == empty %}{% else %} on {% endif %}{% for tag in page.tags %}<a href="/tag/{{ tag | replace: ' ','-' | downcase }}/">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}{% endif %}
        </section>
    </header>

    <section class="post-content">
        {{ content }}
    </section>

    <footer class="post-footer">
        <figure class="author-image">
            <a class="img" href="/" style="background-image: url(/assets/img/profile.png)"><span class="hidden">{{ site.author.name }}</span></a>
        </figure>

        <section class="author">
            <h4><a href="/">{{ site.author.name }}</a></h4>
            <p>{{ site.author.bio }}</p>

            <div class="author-meta">
                <span class="author-location"><i class="icon-location"></i>{{ site.author.location }}</span>
                <span class="author-link"><i class="icon-link"></i> <a href="{{ site.author.home }}">{{ site.author.home }}</a></span>
            </div>
        </section>

        <section class="share">
            <h4>Share this post</h4>
            <a class="icon-twitter" href="https://twitter.com/share?text={{ page.title | cgi_escape}}&amp;url={{ site.url }}{{ page.url }}"
                onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                <span class="hidden">Twitter</span>
            </a>
            <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}"
                onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                <span class="hidden">Facebook</span>
            </a>
            <a class="icon-google-plus" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}"
                onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                <span class="hidden">Google+</span>
            </a>
        </section>
    </footer>
</article>
